class Playbook < Formula
  desc "Claude Code plugin toolkit: hooks, launcher, and installer in one binary"
  homepage "https://github.com/pragmatic-engineer/playbook"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/pragmatic-engineer/playbook/releases/download/v@VERSION@/playbook-@VERSION@-aarch64-apple-darwin"
      sha256 "@SHA_AARCH64_APPLE_DARWIN@"
    else
      url "https://github.com/pragmatic-engineer/playbook/releases/download/v@VERSION@/playbook-@VERSION@-x86_64-apple-darwin"
      sha256 "@SHA_X86_64_APPLE_DARWIN@"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/pragmatic-engineer/playbook/releases/download/v@VERSION@/playbook-@VERSION@-aarch64-unknown-linux-musl"
      sha256 "@SHA_AARCH64_UNKNOWN_LINUX_MUSL@"
    else
      url "https://github.com/pragmatic-engineer/playbook/releases/download/v@VERSION@/playbook-@VERSION@-x86_64-unknown-linux-musl"
      sha256 "@SHA_X86_64_UNKNOWN_LINUX_MUSL@"
    end
  end

  def install
    bin.install Dir["playbook-*"].first => "playbook"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/playbook --version")
  end
end
